<script>
    $("#id_region").change(function () {
      var url = '{% url 'locations_app:comunas' %}';  // get the url of the `load_cities` view
      var regionId= $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: '{% url 'locations_app:comunas' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'region': regionId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_comuna").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>